<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" fixedInViewport autosize>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/" routerLinkActive="activebutton">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </mat-list-item>
      @if (isAdmin$ | async) {
        <mat-list-item
          routerLink="/product/add"
          routerLinkActive="activebutton">
          <mat-icon matListItemIcon>home</mat-icon>
          <span matListItemTitle>Add New Product</span>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z3" color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/">Wood Magic</span>

      <span class="toolbar-spacer"></span>

      <basket-icon></basket-icon>
      <app-auth></app-auth>
    </mat-toolbar>

    <!-- Main content -->
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
