.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content:nth-child(2) {
  margin-top: 2px;
}

mat-list-item {
  --mat-list-active-indicator-shape: 0;

  border-width: 0px 0px 0px 3px;
}

mat-list-item:hover {
  border: 0px solid #b4b4b4;
  border-width: 0px 0px 0px 3px;
}

.activebutton {
  border: 0px solid #020202;
  border-width: 0px 0px 0px 3px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
