.product-card {
  max-width: 400px;
  margin: 0.2rem;
}

.product-card-footer {
  padding: 16px;
}

.product-card-actions {
  justify-content: right;
}

.cart-button {
  width: 32px;
  height: 32px;

  --mdc-fab-container-color: #7d7def;
  --mat-fab-foreground-color: #f9f9f9;
}

.cart-button .mat-icon {
  font-size: 18px;

  align-content: center;
}
