<mat-card class="product-card" appearance="outlined">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content [routerLink]='["/product", id()]'>
    {{ name() }}
  </mat-card-content>
  <mat-card-footer class="product-card-footer">
    <span>Price: {{ price() }}</span>
  </mat-card-footer>
  <mat-card-actions class="product-card-actions">
    @if (isAdmin$ | async) {
    <a mat-button [routerLink]='["/product/edit", id()]'>Edit</a>
    <button mat-button (click)="onDelete()">Delete</button>
    }
    <button class="add-to-cart-button" mat-fab (click)="onAddToCart()" [disabled]="isProcessing">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>